*{
margin:0;
padding:0;
}
body{
margin: 0;
padding: 0;
background-color: #1F383A;
color:#fff;
}
main{
width: 70%;
margin: auto;
padding-top:50px

}
button{
background-color: #A57333;
color:#fff;
border-style: none;

}
.div1{
display: flex;
padding-bottom:50px;

}
.textBok{
padding-left: 50px;
/*padding-top:20px*/
}
.infoBok{
padding-top:20px
}
.rviewIntro{
text-align: center;
padding-bottom: 25px;
}
.btn_bookBuy {
padding: 8px;
margin-top: 17px;
cursor: pointer;
border-radius: 25px;
width: 100%;
}
.boxSectn img {
    border-radius: 15%;
    width: 180px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.boxSectn img:hover {
    transform: scale(1.13);
}
.text_rviewIntro{
display: flex;
width: 400px;
margin: auto;
justify-content: space-around;
padding-top: 30px;
}
.btn_rviewIntro {
padding: 0 40px;
border-radius: 25px;

}
.Textrview{
width:90%;
margin:auto;
padding-top:15px}

.star {
cursor: pointer;
font-size: 24px;
}

.selected {
color: orange;
}
a{
color:#A57333;
text-decoration: none;
}
.fa-chevron-down{
color: #A57333;
font-size: 10px;

}

h1,h4{
color: #A57333;
}

/*menu*/

.top-menu {
background-color: #121C20;
/*width: 100vw;*/
height: 60px;
display: flex;
align-items: center;
padding-right: 5px;
}
.search-div {
margin-left: auto;
margin-right: 20px;
}


.search-input {
border-radius: 20px 0px 0px 20px;
border: none;
height: 29.4px;
width: 200px;
outline: none;
}


.search-button {
background-color: #A57333;
border-radius: 0px 20px 20px 0px;
border: none;
height: 30.25px;
/* Adjust the height to match the input */
padding: 0 15px;
/* Add padding for visual spacing */
color: #fff;
/* Set the button text color */
}

.book-icon {
font-size: 50px;
margin: 10px;
color: #A57333;
}
.user-icon {
color: #fff;
font-size: 30px;
margin-left: auto;
}

.boxSectn{
border-radius: 15%;
/*padding: 0px;
margin: 5px;*/
margin-bottom:20px;
margin-left: 25px;
}

.boxSectn p{
width: 200px;
text-align: center;
margin-left: 3px;
color: #fff;
font-size: 13px;
}



#bookBox {
width: 100%;
height: 100%;
top: 0px;
left: 0;
right: 0;
/* position: absolute;*/
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border-radius: 15%;
}